* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}
.hed {
    font-size: 50px;
    color: #fff;
}

.head{
    background-color: black;
    height: 100px;
    width: 40.7cm;
}
.cons{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

li {
    margin-left: 50px;
}